*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color:blanchedalmond;
}
.container{
    background-color:white;
    width:363px;
    margin:20px auto;
    padding: 16px 25px 25px 22px;
}
.inner{
    background-color:#e6f3fb;
    padding: 2px 7px 17px 12px;
}
.links{
    color:#0a6395;
    
}
.links-nondecorate{
    color:#0a6395;
    text-decoration: none;
}
.blog-title{
    font-family:'Times New Roman';
    font-size:16px;
    color:#000000;
}
.blog-title-competions{
    font-family:'Times New Roman';
    font-size:16px;
    color:#000000;
    margin: 2px 0 -1px 0;
    text-indent: -2px;
}
.blog-content{
    background-color:white;
    border-top: #f7a418 4px solid;
}
.content-detail{
    display:flex;
    margin-bottom:9px;
    padding:7px 18px 0 8px;
    font-size:12px;
    font-family: "Arial";
    gap:9px;
    
}
.content-detail-disc{
    margin-top:1px;
}
.disc-title{
    color:#0a6395;
    font-size:12px;
    text-indent:-3px;
}
.msg-list{
    list-style:none;
    background-color:#f9f1c2;
    color:#0a6395;
    font-family: "Arial";
    font-size:12px;
}
.first-msg{
    padding:7px 0px 11px 8px;
    border-bottom: white solid 1px;
}
.second-msg{
    padding:11px 0px 10px 8px;
    border-bottom: white solid 1px;
}.last-msg{
    padding:11px 0px 12px 8px;
    border-bottom: white solid 1px;
}
.blog-horoscopes{
    margin-bottom:17px;
}
.horo-content{
    display:flex;
    margin-bottom:14px;
    padding:20px 2px 0 14px;
    gap:20px
}

.horo-content-text{
    font-family: "Arial";
    font-size:11px;
    text-decoration: none;
}
.horo-title {
    font-size:15px
}
.horo-time{
    color:#595959;
    
}
.horo-detail-text{
    margin-top: 11px;
    padding-left: 2px;
    line-height: 14px;
}

.horo-footer{
    font-family: "Arial";
    font-size:11px;
    background-image: url(/images/Tuan1-Bai2/img-horoscopes-2.png);
    padding:11px 0px 8px 22px;
    line-height:14px
}
.blog-news{
    margin-bottom:8px;
}
.news-content{
    display:flex;
    
}
.news-content-text{
    font-family:"Times New Roman";
    font-size:12px;
    padding: 22px 21px 0 23px;
    
}
.news-detail-text{
    margin-bottom:5px;
}
.news-content-img{
    height:113px;
}
.blog-competions{
    border-top:#595959 solid 1px;
}
.blog-competions-content{
    border:#595959 solid 1px;
    list-style:none;
    font-size: 12px;
    font-family:"Times New Roman";
    color:#4d5d73;
    padding:10px 0 8px 8px;
    background-color:white;
    margin: 0 -2px 0px 1px;
    padding-bottom: 6px;
}