* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman";
  color: #000000;

}

.container {
  margin: 8px auto;
  width: 499px;
  border: 1px solid #dfdfdf;
  padding-top: 8px;
  
}

.profile-header {
  position: relative;
}
.profile-header-bg {
  position: absolute;
  padding-top: 4px;
}

.title {
  font-size: 17px;
  line-height: 10px;
}
.title-left{
    padding-left:2px
  }
.title-center{
    text-align: center;
    padding-left:5px;
  }  
.profile{
  margin-bottom: 25px;
}
.profile-content{
    display:flex;
    padding:4px 0 0 12px;
}
.profile-avt{
    padding: 6px 0 0 1px;
}
.profile-content-detail{
    position: relative;
}
.detail-text{
    padding: 7px 0 0 13px;
}
.content-bg {
  position: absolute;
  top: 0;
  width: 100%;
}
.nor-text{
    font-size: 15px;
    line-height: 16px;
}
.author-text{
    font-size: 13px;
    line-height: 16px;
}

.author-text a{
    text-decoration: none;
    color: #1424f4;
}
.facts{
    padding-left:2px;
    margin-bottom:62px;
}
.facts-content-{
  padding-top:23px;
}
.facts-content-detail{
  position: relative;
  padding-left: 36px;
}
.facts-content-detail p {
  list-style: none;
  padding: 0 0 7px 56px;
}
.facts-content-detail span {
  display: inline-block;
  text-indent: -24px;
}
.facts-content-text{
  position:absolute;
  top:1px;
  left:0;
  width:430px;
}
.comment{
  margin-bottom:32px;
}
.commment-post{
  margin-top:5px;
}
.comment-box{
  background-image: url("/images/Tuan1-Bai3/bg-cmt.png");
  padding-left:19px;
    max-height: 55px;
    margin-bottom: 4px;
}

.comment-text{
  font-size: 15px;
  line-height: 16px;
  padding-top:5px
}

.comment-author{
  padding: 5px 0 0 33px;
  margin-bottom:5px
}

.element-detail{
  position: absolute;
  width: 110px;
  padding: 3px 0 0 6px;
}
.element-detail p{
  padding-bottom: 5px;
}

.comment-input{
  padding-left: 39px;
  margin-top: 4px;
  position: relative;
}
.comment-placeholder{
  position:absolute;
  top: 66px;
  padding-left: 77px;
}